# Python virtual environment
venv/
__pycache__/

# Large data files and models
*.joblib
*.csv
fma_metadata/
training_data/
spectrograms/

# Any audio or image files
*.mp3
*.wav
*.png

# System files
.DS_Store
